In [50]:
## Concatenating corresponding elements from Two Existing Lists

list_1 = ["M", "na", "i", "Ke"]
list_2 = ["y", "me", "s", "lly"]

[str(x + y) for x, y in zip(list_1, list_2)]

['My', 'name', 'is', 'Kelly']

In [51]:
## Iterating over two lists simultaneously

list_3 = [10, 20, 30, 40]
list_4 = [100, 200, 300, 400]

zipping_list = [print(x, y) for x, y in zip(list_3, list_4)]

10 100
20 200
30 300
40 400

In [52]:
## Iterating over two lists simultaneously

list_3 = [10, 20, 30, 40]
list_4 = [100, 200, 300, 400]

for x, y in list(zip(list_3, list_4)):
    print(x, y)

10 100
20 200
30 300
40 400

In [53]:
## Removing empty strings from a list

list_5 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

[x for x in list_5 if x]

['Mike', 'Emma', 'Kelly', 'Brad']

In [54]:
## Finding Index of Element in a List within a Specific Range

list_6 = [5, 10, 15, 20, 25, 50, 20, 70, 80, 20, 90]

value_1 = list_6.index(20)
print(value_1)

value_2 = list_6.index(20, 4, 8)
print(value_2)

3
6

In [55]:
## Sorting a tuple by second element in nested tuples

tuple_1 = (('a', 23),('b', 37),('c', 113), ('d',29))
sorted_tuple = tuple(sorted(tuple_1, key=lambda x: x[1]))

print(sorted_tuple)

(('a', 23), ('d', 29), ('b', 37), ('c', 113))

In [56]:
## Demonstrate Tuple Immutability and List Mutability Within a Tuple
"""
Tuples are immutable: 
This means that you cannot change the values of the elements 
directly within the tuple itself (e.g., you can't do something like tuple_2[0] = 10). 
However, tuples can contain mutable objects like lists.

Mutable objects within a tuple: 
When a tuple contains a mutable object, like a list, you can modify 
the contents of that list without changing the memory address of the tuple itself. 
This is because you're not changing the tuple's reference to the list; 
you're only changing the content of the list that the tuple points to.
"""

tuple_2 = (11, [22, 33], 44)
print(id(tuple_2))
print(id(tuple_2[0]))
print(id(tuple_2[1]))
print(id(tuple_2[2]))

tuple_2[1][0] = 'A'
print(tuple_2)

print(id(tuple_2))
print(id(tuple_2[0]))
print(id(tuple_2[1]))
print(id(tuple_2[2]))

2950955761472
140724406651640
2950955632640
140724406652696
(11, ['A', 33], 44)
2950955761472
140724406651640
2950955632640
140724406652696

In [57]:
## Access value in nested dictionary

nested_dict = {"class": {"student": {"name": "Mike", "marks": {"physics": 70, "history": 80}}}}

value = nested_dict['class']['student']['marks']['history']
print(value)

80

In [58]:
## Reversing a Tuple

tuple_3 = (10, 20, 30, 40, 50)
reversed_tuple_1 = tuple(reversed(tuple_3))
print(reversed_tuple_1)

(50, 40, 30, 20, 10)

In [59]:
## Reversing a Tuple

reversed_tuple_2 = tuple_3[::-1]
print(reversed_tuple_2)

(50, 40, 30, 20, 10)

In [60]:
## Unpack elements from a Tuple

tuple_4 = (10, 20, 30, 40)
a, b, c, d = tuple_4
print(a, b, c, d)

10 20 30 40

In [61]:
## Create dictionary from Keys and Values

# sourcery skip: identity-comprehension
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

new_dictionary_1 = {k:v for k,v in zip(keys, values)}
print(new_dictionary_1)

new_dictionary_2 = dict(zip(keys, values))
print(new_dictionary_2)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [62]:
## Merge Dictionaries with Overlapping Keys

# sourcery skip: use-dictionary-union
dict_1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict_2 = {'Thirty': 30, 'Forty': 40, 'Fifty': 50}

dict_3 = {** dict_1, ** dict_2}
print(dict_3)

dict_4 = dict_1 | dict_2
print(dict_4)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Forty': 40, 'Fifty': 50}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Forty': 40, 'Fifty': 50}

In [63]:
## Create Dictionary with Default Values

employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

dict_5 = {x: defaults for x in (employees)}
print(dict_5)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [64]:
## Create Dictionary with Default Values

employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

dict_6 = dict.fromkeys(employees, defaults)
print(dict_6)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [67]:
## Find Key with Minimum Value in Dictionary

sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
print(min(sample_dict, key=sample_dict.get))

Math